name: xSentry CI

on: [ push, pull_request ]

jobs:
  test-and-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build
        run: go build -v ./cmd/xSentry

      #      - name: Test
      #        run: go test ./...

      # 5. Run a linter (Good Practice)
      # You can install golangci-lint here, or just use `go fmt`
      - name: Lint
        run: go fmt ./...

      - name: Scan with xSentry
        run: ./xSentry -path="." --scan-history